/* 
    Created on : Jan 24, 2022, 7:32:21 PM
    Author     : Husnain Arif
*/

#partIdColumn,
#assocPartIdColumn,
#invLevelColumn,
#assocInvLevelColumn,
#priceColumn,
#assocPriceColumn,
#partIdColumn .label,
#assocPartIdColumn .label,
#invLevelColumn .label,
#assocInvLevelColumn .label,
#priceColumn .label,
#assocPriceColumn .label {
    -fx-alignment: CENTER_RIGHT
}

#partNameColumn,
#assocPartNameColumn,
#partNameColumn .label,
#assocPartNameColumn .label {
    -fx-alignment: CENTER_LEFT
}

#partIdColumn .label,
#assocPartIdColumn .label,
#partNameColumn .label,
#assocPartNameColumn .label,
#invLevelColumn .label,
#assocInvLevelColumn .label,
#priceColumn .label,
#assocPriceColumn .label {
    -fx-padding: 3px;
}