/* 
    Created on : Jan 24, 2022, 7:32:21 PM
    Author     : Husnain Arif
*/

/*A stylized pane with a border that's colored*/
.main-pane {
    /*A pale shade of gray */
    -fx-border-color: #D3D3D3;
    /*A radius that's approx. 24px*/
    -fx-border-radius: 2em;
}

#partIdColumn,
#assocPartIdColumn,
#invLevelColumn,
#assocInvLevelColumn,
#priceColumn,
#assocPriceColumn,
#partIdColumn .label,
#assocPartIdColumn .label,
#invLevelColumn .label,
#assocInvLevelColumn .label,
#priceColumn .label,
#assocPriceColumn .label {
    -fx-alignment: CENTER_RIGHT
}

#partNameColumn,
#assocPartNameColumn,
#partNameColumn .label,
#assocPartNameColumn .label {
    -fx-alignment: CENTER_LEFT
}

#partIdColumn .label,
#assocPartIdColumn .label,
#partNameColumn .label,
#assocPartNameColumn .label,
#invLevelColumn .label,
#assocInvLevelColumn .label,
#priceColumn .label,
#assocPriceColumn .label {
    -fx-padding: 3px;
}